@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.main-div {
  width: 100%;
  height: 100vh;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2% 6%;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
}

.header ul {
}

.header ul li {
  cursor: pointer;
  display: inline-flex;
  margin-right: 50px;
  font-size: 14px;
}

.header ul li a {
  text-decoration: none;
  color: inherit;
  scroll-behavior: smooth;
}

.fa-bars{
	display: none;
}

.btn {
  cursor: pointer;
  background: #10ac84;
  color: #fff;
  border: none;
  padding: 0.2rem 0.6rem;
  border: 1px solid #10ac84;
}

.btn:hover {
  background: none;
  color: #10ac84;
}

/* slider css  */

.inner-div{
	width: 100%;
	height: 100vh;
	position: relative;
}

.slider__navi {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  z-index: 999;
}

.slider__navi a {
  display: block;
  height: 6px;
  width: 20px;
  margin: 20px 0;
  text-indent: -9999px;
  box-shadow: none;
  border: none;
  background: rgba(0, 0, 0, 0.2);
}

.slider__navi a.active {
  background: rgba(255, 255, 255, 1);
}

.flex__container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow-x: hidden;
}

.flex__container.flex--active {
  z-index: 2;
}

.text--sub {
  font-size: 12px;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.text--big {
  font-family: "Poppins", sans-serif;
  font-size: 6em;
  font-weight: 700;
  line-height: 85px;
  margin-left: -8px;
}

.text--normal {
  font-size: 13px;
  line-height: 20px;
  margin-top: 25px;
  text-align: justify;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: 1% 1%;
}

.flex__item {
  height: 100vh;
  color: #fff;
  transition: transform 0.1s linear;
}

.flex__item--left {
  display: flex;
  align-items: center;
  width: 65%;
  transform-origin: left bottom;
  transition: transform 0.1s linear 0.4s;
  opacity: 0;
  position: relative;
  overflow: hidden;
}

.flex__item--right {
  width: 35%;
  transform-origin: right center;
  transition: transform 0.1s linear 0s;
  opacity: 0;
}

.flex--preStart .flex__item--left,
.flex--preStart .flex__item--right,
.flex--active .flex__item--left,
.flex--active .flex__item--right {
  opacity: 1;
}

/* Piplup */
.flex--piplup {
  background: url("./images/image5.jpg");
  background-size: 100% 100%;
  object-fit: cover !important;
}


.flex--piplup .flex__item--right {
  background: rgba(255, 255, 255, 0.25);
}

/* Pikachu */
.flex--pikachu {
  background: url("./images/image4.jpg");
  background-size: 100% 100%;
  object-fit: cover;
}


.flex--pikachu .flex__item--right {
  background: rgba(255, 255, 255, 0.25);
}

/* Blaziken */

.flex--blaziken {
  background: url("./images/image2.jpg");
  background-size: 100% 100%;
  object-fit: cover;
}


.flex--blaziken .flex__item--right {
  background: rgba(255, 255, 255, 0.25);
}

.flex__content {
  margin-left: 80px;
  width: 55%;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: transform 0.5s linear 0.2s, opacity 0.5s linear 0.2s;
}

.product_img {
  position: absolute;
  bottom: 20px;
  max-height: 40vw;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: opacity 0.43s 0.6s,
    transform 0.4s 0.65s cubic-bezier(0, 0.88, 0.4, 0.93);
}

.product_img_first {
  width: 50%;
  right: 5%;
}

.product_img_second {
  width: 50%;
  right: 5%;
}

/* Animate-START point */

.flex__container.animate--start .flex__content {
  transform: translate3d(0, -200%, 0);
  opacity: 0;
}

.flex__container.animate--start .product_img {
  transform: translate3d(-200px, 0, 0);
  opacity: 0;
}

/* Animate-END point */

.flex__container.animate--end .flex__item--left {
  transform: scaleY(0);
}

.flex__container.animate--end .flex__item--right {
  transform: scaleX(0);
}

.flex__container.animate--end .flex__content {
  transform: translate3d(0, 200%, 0);
  opacity: 0;
}

.flex__container.animate--end .product_img {
  transform: translate3d(200px, 0, 0);
  opacity: 0;
}

/* products css here  */
.products {
  width: 100%;
  min-height: 85vh;
  overflow-y: scroll;
  background-color: #dfe4ea;
  position: relative;
  padding-bottom: 4%;
}

.products::-webkit-scrollbar {
  display: none;
}

.products h2 {
  text-align: center;
  padding: 5% 0;
  color: #10ac84;
  font-size: 2rem;
}

.product {
  cursor: pointer;
  width: 22%;
  background: #fff;
  float: left;
  margin: 4% 5.5%;
}

.product img {
  width: 100%;
  height: 100%;
  margin-top: -30%;
}

.product-info {
  padding-bottom: 3%;
}

.product-info h3 {
  font-size: 16px;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  text-align: center;
}

.product-info .desc {
  text-align: center;
  font-size: 14px;
  margin: 0.2rem 0;
}

.product-info .category {
  color: #646464;
  font-size: 14px;
  padding: 0 2%;
  margin: 0.2rem 0;
}

.product-info .price {
  padding: 2% 2%;
  font-size: 14px;
  font-weight: 500;
}

.price span {
  float: right;
  font-weight: 900;
  color: #10ac84;
}

.product .btn {
  margin-left: 50%;
  margin-top: 1%;
  transform: translate(-50%, -1%);
  width: 95%;
}

.see-more{
	position: absolute;
	bottom: 3%;
	left: 50%;
	transform: translate(-50%,-2%);
}

/* about css here  */
.about {
  width: 100%;
  background: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 6% 2%;
  gap: 1.5rem;
}

.about h2 {
  font-size: 2.8rem;
}

.about h2 span{
	color: #10ac84;
}

.about h4 {
  font-weight: 500 !important;
}

.about p {
  text-align: justify;
  font-size: 14px;
  margin: 0.4rem 0;
  color: #646464;
}

.right div {
  display: flex;
  align-items: center;
  gap: 5%;
  margin: 3rem 0;
}

.right div img {
	width: 60px;
	height: 60px;
  /* aspect-ratio: 4 / 2; */
  object-fit: contain;
}

.right div p {
  text-align: center;
  color: #10ac84;
  font-weight: 500;
}

/* contact css here  */
.contact{
	width: 100%;
	height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contact-details{
	width: 50%;
	height: 100%;
	background-color: #4A8B71;
	color: #fff;
	padding-bottom: 4%;

}

.contact-details h2{
	font-size: 2rem;
	padding: 10% 10%;
}

.contact-details .details{
	padding: 2% 10%;
	margin-top: 0.5rem;
}

.details p{
	margin-bottom: 2rem;
	font-size: 16px;
	font-weight: 500;
}

.details p i{
	margin-right: 0.8rem;
	font-size: 22px;
}

.social-media-icons{
	padding: 2% 10%;
}

.social-media-icons i{
	cursor: pointer;
	font-size: 25px;
	margin-right: 1rem;
}

.social-media-icons i:hover{
	scale: 1.2;
}


.contact-form{
	width: 50%;
	height: 100%;
	background-color: #282828;
	color: #fff;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding-bottom: 4%;
}

.contact-form h2{
	font-size: 2rem;
	padding: 10% 10%;
}

.contact-form input,.contact-form textarea{
	color: rgba(255, 255, 255, 0.8);
	width: 80%;
	margin-left: 10%;
	padding: 2% 4%;
	font-size: 18px;
	border: none;
	border-bottom: 2px solid rgba(255, 255, 255, 0.8);
	background: none;
	outline: none;
}

.contact-form .btn{
	width: 80%;
	margin-left: 10%;
	font-size: 18px;
	padding: 2% 0;
	text-transform: uppercase;
}

/* footer css here  */
.footer{
	width: 100%;
	padding: 3% 4%;
}

.footer-top{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.footer-top h2{
	cursor: pointer;
	font-size: 2rem;
	text-shadow: 12px 12px 0 rgba(16, 172, 132,0.35);
}

.footer-top h2:hover{
	text-shadow: none;

}

.useful-links li{
	list-style: none;
	margin-top: 0.4rem;
	font-size: 14px;
}

.footer p{
	text-align: center;
	padding: 5% 0;
	color: rgba(0, 0, 0, 0.7);
}


/* responsive css here  */

@media screen and (max-width:375px){
	.main-div{
		width: 100%;
	}

	.header{
		width: 100%;
	}

	.header ul{
		width: 100%;
		position: absolute;
		top: 2.7rem;
		left: 0;
		border: 1px solid green;
		/* display: flex; */
		flex-direction: column;
		align-items: center;
		padding: 1rem 0;
		background: #fff;
		display: none;

	}

	.header ul li{
		margin-bottom: 1rem;
	}

	.fa-bars{
		display: block;
	}

	.inner-div{
		border: 1px solid green;
		width: 200%;
	}

	.text--sub{
		font-size: 14px;
		margin-bottom: 30px;
	}

	.text--big{
		font-size: 2.5em;
		line-height: 30px;
		margin-left: 0;
		margin: 15px 0;
	}

	.text--normal{
		font-size: 14px;
		width: 100%;
		margin-top: 25px;
	}

	.flex__item{

	}

	.flex__item--left{
	}

	.flex__item--right{

	}

	.flex__content{
		margin-left: 30px;
		width: 80%;
	}

	.product_img{
		max-height: 100vw;
		width: 50%;
		object-fit: contain;
		transform: none;
		right: 2%;
	}

	/* .product css here  */
	.products{
		width: 200%;
		min-height: 90vh;
		padding-bottom: 10%;
	}

	.product{
		width: 50%;
		margin: 10% 25%;
	}

	.see-more{
		bottom: 1.5%;
	}

	/* about css here  */
	.about{
		width: 200%;
		flex-direction: column;
		padding: 10% 2%;
		text-align: center;
	}

	.about h2{
		width: 100%;
		text-align: center;
		font-size: 2.2rem;
	}

	.about p{
		margin: 1.5rem 0;
		padding: 0 6%;
	}

	.right div p{
		font-size: 18px;
	}

	.right div img{
		width: 80px;
		height: 80px;
	}


	/* contact css here  */
	.contact{
		margin-top: 10rem;
		margin-bottom: 15rem;
		width: 200%;
		flex-direction: column;
	}

	.contact-details{
		width: 100%;
	}

	.contact-form{
		width: 100%;
	}

	/* footer css here  */
	.footer{
		padding: 5% 10%;
		width: 200%;
		border: 1px solid red;
	}

}